html, body {
    width: 100%;
    height: 100%;
    font-family: 'Hanna', sans-serif;
}
label {
    visibility: hidden
}
a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
    width: 400px;
    display: block;
    background-color: #C9E6F0;
    height: 100px;
    margin: 2em -2.5em;
}

header > div {
    width: 100%;
    height: 8em;
    overflow: hidden;
}

.logo {
    float: left;
    transform: rotate(-37deg);
    font-size: 25px;
    margin: 47px 10px;
    color: #366376;
}

.button {
    float: right;
    background-color: #00AFF4;
    width: 11em;
    height: 2em;
    text-align: center;
    margin: 2.5em 2em;
    line-height: 2em;
    color: #fff;
}

#blank {
    float: left;
    width: 80px;
    height: inherit;
}

section {
    float: left;
    width: 400px;
    height: inherit;
    margin-left: 25px;
    overflow-y: scroll;
}

section .title {
    display: block;
    color: white;
    margin: 0px;
    line-height: 100px;
    padding-left: 25px;
    background-color: #2B5562;
}

section > ul li {
    width: 400px;
    display: block;
    background-color: #C9E6F0;
    height: 100px;
    margin: 2em -2.5em;
}
.todo, .doing, .done {
    position: relative;
    overflow: scroll;
    line-height: 200%;
}

.todo h4, .doing h4, .done h4 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 20px;
}
.todo p, .doing p, .done p {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 30px;
    left: 20px;
    color: #465B76;
}

button {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    top: 45px;
    left: 350px;
}
